/* universal styles */

* {
    box-sizing: border-box;
}


/* grid layout */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

.header {
    grid-area: header;
}

.navi {
    grid-area: navigation;
}

.main {
    grid-area: main;
}

.main {
    display: grid;
}

/* base styles */

h1,
h2,
h3,
h4,
p,
li,
button,
span,
legend {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

legend {
    font-size: 14px;
}

h3,
button {
    text-transform: uppercase;
}

h4 {
    color: #6769a6;
    margin: 0 0 5px 0;
}

section {
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #ebebed;
}

body {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #6769a6;
}

/* header styles */

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #6769a6;
    height: 80px;
    width: 100%;
    padding: 10px;
}

h1 {
    display: flex;
    font-size: 20px;
    color: #fff;
    padding-top: 20px;
}

.bell {
    position: relative;
    width: 30px;
    height: 32px;
    fill: #fff;
    margin-top: 18px;
    margin-right: 20px;
    margin-left: auto;
}

.green-dot {
    position: absolute;
    top: -5px;
    right: -5px;
    height: 8px;
    width: 8px;
    background-color: #49f54f;
    color: #49f54f;
    border-radius: 50%;
}

.user {
    width: 40%;
    max-width: 220px;
    display: flex;
    border-left: 1px solid #aaa;
}

.user img {
    border-radius: 50%;
    padding: 5px 10px;
}

.user h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: #fff;
    text-transform: capitalize;
    padding-top: 10px;
}

/* bell animation */

@keyframes ring {
    20% {
        transform: rotate(25deg) scale(1.1);
    }
    50% {
        transform: rotate(-30deg) scale(1.2);
    }
    80% {
        transform: rotate(15deg) scale(1.1);
    }
}

.bell:hover {
    animation: ring .5s ease-in-out forwards;
}

/* navigation styles */

.navi {
    display: flex;
    justify-content: space-evenly;
    background-color: #3c3d63;
}

.navi a {
    width: 10%;
    height: auto;
    padding: 10px 0px;
}

/* alert banner */

.alert {
    width: 95%;
    margin: auto;
    display: inline;
    color: #fff;
    background-color: #6769a6;
    border-radius: 5px;
    padding: 5px 20px;
}

.alert p {
    display: inline-block;
}

.alert-message {
    max-width: 90%;
}

.alert-banner-close {
    position: absolute;
    right: 40px;
}

.alert-banner-close:hover {
    cursor: pointer;
}

/* main header styles */

.widget-container-full,
.widget-container-half {
    width: 90vw;
    margin: auto;
}

.main-header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.main-header-search {
    width: 65%;
    margin-top: 5px;
}

/* main styles */
.traffic-nav {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0;
}

.traffic-nav-link {
    text-decoration: none;
    padding: 10px;
}

.bar h3 {
    margin-bottom: 40px;
}

.pie h3 {
    margin-bottom: 0px;
}

.highlight {
    background-color: #3c3d63;
    color: #fff;
    border-radius: 10px;
}

/* social styles */

.social-container {
    display: flex;
    background-color: #ebebed;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 20px;
}

.social-image {
    width: 70px;
    height: 70px;
    margin: 15px;
    background-color: #6769a6;
    border-radius: 50%;
    padding: 15px;
}

.social-text {
    margin: auto 0;
}

.social-text p {
    color: grey;
    font-weight: lighter;
    font-size: 40px;
    margin: 0;
}

/* new member styles */

.member-container {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ebebed;
    min-height: 180px;
}

.member-container p {
    margin: 5px auto;
}

.member-container img {
    height: 90px;
    width: 90px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.arrow {
    display: none;
}

/* message styles */

.settings {
    border-bottom: none;
}

.form-field,
.form-area,
#send {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input,
textarea,
.form-field {
    background-color: #ebebed;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

textarea {
    height: 162px;
}

.button-primary {
    color: #fff;
    text-transform: uppercase;
    background-color: #6769a6;
    border: 1px solid #6769a6;
    border-radius: 5px;
}

input,
textarea,
.form-field,
button {
    padding: 15px;
}

#userField {
    width: 100%;
}

 .widget-container input{
    width: 100%;
    height: 40px;
 }

 .dropdown-box {
     display: block;
     position: absolute;
     width: 30%;
     background-color: rgba(0,0,0,0.8);
     z-index: 1;
 }

 .hide {
     display: none;
 }

 .names-container {
    padding-inline-start: 0px;
 }
 
 .names-container li {
   
    list-style: none;
    color: #fff;
    padding: 15px 15px;
    font-size: 10px;
    display: block;
 }

 .user-field:focus .dropdown-box {
     display: block;
 }

.settings-button {
    display: flex;
}

#save {
    width: 50%;
    margin-right: 10px;
}

#cancel {
    width: 50%;
    margin-left: 10px;
    background-color: grey;
    border: 1px solid lightgrey;
    border-radius: 5px;
    color: lightgrey
}

.toggle-box {
    width: 100%;
    height: 80px;
    display: block;
    position: relative;
    padding-top: 20px;
}

.toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 100px;
    height: 34px;
  }

/* Hide default HTML checkbox */
  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6769a6;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(66px);
    -ms-transform: translateX(66px);
    transform: translateX(66px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* notification window */

.window {
    width: 50%;
    background-color: rgba(226, 146, 146, 0.7);
    z-index: 100;
}

/* The Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
  }

.not-banner {
    height: 32px;
    background-color: #3c3d63;
    color: #fff;
}

.not-banner h3 {
    margin: 0px;
    padding: 8px 0px 5px 5px;
    text-transform: capitalize;
}

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 5px;
  }

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}



