/* universal styles */

* {
    box-sizing: border-box;
}


/* base styles */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

.header {
    grid-area: header;
}

.navi {
    grid-area: navigation;
}

.main {
    grid-area: main;
}

.main {
    display: grid;
}

h1,
h2,
h3,
h4,
p,
button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

h3,
button {
    text-transform: uppercase;
}

h4 {
    color: #6769a6;
    margin: 0 0 5px 0;
}

section {
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #ebebed;
}

body {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #6769a6;
}

/* header styles */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #6769a6;
    height: 80px;
    padding: 15px 5px 15px 5px;
}

h1 {
    font-size: 25px;
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
}

.bell {
    width: 70px;
    height: 60px;
    fill: #fff;
    padding: 10px 20px 10px 20px;
}

.user {
    display: flex;
    width: 45%;
    border-left: 1px solid #ededed;
}

.user img {
    border-radius: 50%;
    padding: 0px 15px;
}

.user h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color: #fff;
    text-transform: capitalize;
}

/* bell animation */

@keyframes ring {
    20% {
        transform: rotate(25deg) scale(1.1);
    }
    50% {
        transform: rotate(-30deg) scale(1.2);
    }
    80% {
        transform: rotate(15deg) scale(1.1);
    }
}

.bell:hover {
    animation: ring .5s ease-in-out forwards;
}

/* navigation styles */

.navi {
    display: flex;
    justify-content: space-evenly;
    background-color: #3c3d63;
}

.navi a {
    width: 10%;
    height: auto;
    padding: 10px 0px;
}

/* alert banner */

.alert {
    width: 95vw;
    margin: auto;
    display: inline;
    color: #fff;
    background-color: #6769a6;
    border-radius: 5px;
    padding: 5px 20px;
}

.alert p {
    display: inline-block;
}

.alert-banner-close {
    padding-left: 40px;
}

.alert-banner-close:hover {
    cursor: pointer;
}

/* main header styles */

.widget-container-full,
.widget-container-half {
    width: 90vw;
    margin: auto;
}

.main-header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.main-header-search {
    margin-top: 5px;
}

/* main styles */
.traffic-nav {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0;
}

.traffic-nav-link {
    text-decoration: none;
}


/* social styles */

.social-container {
    display: flex;
    background-color: #ebebed;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 20px;
}

.social-image {
    width: 70px;
    height: 70px;
    margin: 15px;
    background-color: #6769a6;
    border-radius: 50%;
    padding: 15px;
}

.social-text {
    margin: auto 0;
}

.social-text p {
    color: grey;
    font-weight: lighter;
    font-size: 40px;
    margin: 0;
}

/* new member styles */

.member-container {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ebebed;
}

.member-container p {
    margin: 5px auto;
    width: 80%;
}

.member-container img {
    display: block;
    margin: auto;
    border-radius: 50%;
}

/* message styles */

.settings {
    border-bottom: none;
}

input,
textarea,
#send,
.form-field {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input,
textarea,
.form-field {
    background-color: #ebebed;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

.button-primary {
    color: #fff;
    text-transform: uppercase;
    background-color: #6769a6;
    border: 1px solid #6769a6;
    border-radius: 5px;
}

input,
textarea,
.form-field,
button {
    padding: 15px;
}

.settings-button {
    display: flex;
}

#save {
    width: 50%;
    margin-right: 10px;
}

#cancel {
    width: 50%;
    margin-left: 10px;
    background-color: grey;
    border: 1px solid lightgrey;
    border-radius: 5px;
    color: lightgrey
}

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

/* Hide default HTML checkbox */
.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6769a6;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* media queries */

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
            "header header"
            "navigation main";
    }

    .navi {
        display: block;
        padding: 10px;
    }

    .navi img {
        padding-bottom: 25px;
    }

    .main {
        grid-template-columns: 50%;
    }

    .traffic,
    .social {
        grid-column: 1 / span 2;
    }

    .daily,
    .members,
    .message {
        grid-column: 1 / span 1;
    }

    .mobile,
    .activity,
    .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half{
        width: 45vw;
    }

    section {
        margin: 10px;
    }
}


